.container {
  height: 100vh;
  min-height: 713px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  gap: 16px;
  color: white;
  position: relative;
  background-image: url("/myschool/images/bg-admin.png");
  background-position: -0.2vw -2.8vw;
}

.circle {
  width: 22vw;
  height: 22vw;
  background-image: url("/myschool/images/circle.svg");
  background-position: center;
  position: absolute;
  top: -0.2vw;
  left: 37.9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 70%;
  transition: background-image 150ms;
}
.circle:hover {
  background-image: url("/myschool/images/circle-on.svg");
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: #fff; /* or any color you prefer */
}
.loadingScreen.hide {
  display: none;
}

.title {
  width: 30vw;
  top: 19.5vw;
  position: absolute;
  font-size: 1.35vw;
  text-align: center;
  padding: 8px 0;
  border-radius: 50px;
  background-color: var(--color-main-title-background);
}

.schoolLogo {
  width: 84%;
  height: 82%;
  border-radius: 100%;
}

.editIcon {
  width: 56px;
  height: 56px;
  padding: 12px;
  position: absolute;
  border-radius: 100%;
  top: calc(280px - 48px);
  background-color: var(--color-logo-circle-background);
  cursor: pointer;
}

.exitContainer {
  position: absolute;
  left: 5.1vw;
  top: 5.5vw;
}

.userContainer {
  position: absolute;
  right: 5.4vw;
  top: 1.4vw;
}

.notifContainer {
  position: absolute;
  right: 5.9vw;
  top: 15.6vw;
}

.walContainer {
  position: absolute;
  right: 5.9vw;
  top: 25.5vw;
}

.ayContainer {
  position: absolute;
  left: 64.7vw;
  top: 30.6vw;
}

.miContainer {
  position: absolute;
  left: 30.1vw;
  top: 30.7vw;
}

.spContainer {
  position: absolute;
  left: 47.1vw;
  top: 30.6vw;
}

.setsContainer {
  position: absolute;
  left: 30.72vw;
  top: 40.67vw;
}

.supContainer {
  position: absolute;
  left: 39.3vw;
  top: 35.7vw;
}

.repContainer {
  position: absolute;
  left: 56.8vw;
  top: 35.6vw;
}

.optContainer {
  position: absolute;
  left: 65.9vw;
  top: 40.6vw;
}

@media (max-height: 712px) {
  .exitContainer {
    left: 5.1vw;
    top: 5.5vw;
  }

  .userContainer {
    right: 5.3vw;
    top: 1.3vw;
  }

  .notifContainer {
    right: 5.8vw;
    top: 15.4vw;
  }

  .walContainer {
    right: 5.8vw;
    top: 25.3vw;
  }

  .ayContainer {
    left: 63.9vw;
    top: 30.3vw;
  }

  .miContainer {
    left: 29.7vw;
    top: 30.3vw;
  }

  .spContainer {
    left: 46.6vw;
    top: 30.35vw;
  }

  .setsContainer {
    left: 30.41vw;
    top: 40.18vw;
  }

  .supContainer {
    left: 38.9vw;
    top: 35.3vw;
  }

  .repContainer {
    left: 56.2vw;
    top: 35.2vw;
  }

  .optContainer {
    left: 65.2vw;
    top: 40.1vw;
  }
}

@media (max-width: 1520px) {
  .circle {
    left: 37.8vw;
  }
}

@media (max-width: 1490px) {
  .userContainer {
    right: 5.2vw;
    top: 1.2vw;
  }
}

@media (max-width: 1460px) {
  .userContainer {
    right: 5.25vw;
    top: 1.08vw;
  }
}

@media (max-width: 1440px) {
  .container {
    display: none;
  }
}
