.container {
  composes: container from "./AdminLogin.module.css";
  background-image: url("/myschool/images/bg-admin.png");
  background-position: -8px -40px;
  background-size: cover;
}

.hexagon {
  width: 176px;
  height: 160px;
  background-image: url("/myschool/images/hexagon.svg");
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.circle {
  width: 344px;
  height: 344px;
  background-image: url("/myschool/images/circle.svg");
  background-position: center;
  position: absolute;
  top: 0px;
  left: calc(600px - 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 70%;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: #fff; /* or any color you prefer */
}
.loadingScreen.hide {
  display: none;
}

.title {
  width: calc(488px);
  top: calc(320px - 24px);
  position: absolute;
  font-size: 22px;
  text-align: center;
  padding: 8px 0;
  border-radius: 50px;
  background-color: rgb(0, 0, 0, 40%);
}

.schoolLogo {
  width: 72%;
  height: 72%;
  border-radius: 100%;
}

.editIcon {
  width: 48px;
  height: 48px;
  padding: 4px;
  position: absolute;
  border-radius: 50px;
  top: calc(280px - 16px);
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

.exitContainer {
  left: 0;
  top: 8px;
}

.userContainer {
  right: 26px;
  top: 8px;
}

.notifContainer {
  right: 26px;
  top: 164px;
}

.walContainer {
  right: 26px;
  top: 316px;
}

.ayContainer {
  left: calc(800px + 132px);
  top: calc(400px - 6px);
}

.miContainer {
  left: calc(400px);
  top: calc(400px - 6px);
}

.spContainer {
  left: calc(600px + 64px);
  top: calc(400px - 6px);
}

.setsContainer {
  left: calc(400px);
  top: calc(400px + 72px + 76px);
}

.supContainer {
  left: calc(400px + 132px);
  top: calc(400px + 72px);
}

.repContainer {
  left: calc(640px + 160px);
  top: calc(400px + 72px);
}

.optContainer {
  left: calc(960px + 108px - 136px);
  top: calc(400px + 72px + 76px);
}
