:root {
  --color-primary: #3270ff;
  --color-primary-transparent: #3270ffaa;
  --color-error: #ff4444;
  --color-primary-dark-background: #151a23;
  --color-input-placeholder: #909090;
  --color-logo-circle-background: #11151b;
  --color-main-title-background: #00000066;
  --color-sidebar-background: #262c33;
}

@font-face {
  font-family: "iransans_fd";
  src: url(../assets/fonts/iransans_fd.TTF);
}
@font-face {
  font-family: "iransansBold";
  src: url("../assets/font/iransans_fd_bold.TTF");
}
@font-face {
  font-family: "iransansRegular";
  src: url("../assets/font/iransans_fd_regular.TTF");
}
@font-face {
  font-family: "iransansLight";
  src: url("../assets/font/iransans_fd_light.TTF");
}
@font-face {
  font-family: "iransansMedium";
  src: url("../assets/font/iransans_fd_medium.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "iransans_fd", sans-serif;
}

body {
  background-color: var(--color-primary-dark-background);
}
