:root {
  --color-primary: #3270ff;
  --color-primary-transparent: #3270ffaa;
  --color-error: #ff4444;
  --color-primary-dark-background: #151a23;
  --color-input-placeholder: #909090;
  --color-logo-circle-background: #11151b;
  --color-main-title-background: #00000066;
  --color-sidebar-background: #262c33;
  --color-text-secondary: #cacaca;
}

@font-face {
  font-family: "iransans_fd";
  src: url(../assets/fonts/iransans_fd.TTF);
}
@font-face {
  font-family: "iransansBold";
  src: url("../assets/font/iransans_fd_bold.TTF");
}
@font-face {
  font-family: "iransansRegular";
  src: url("../assets/font/iransans_fd_regular.TTF");
}
@font-face {
  font-family: "iransansLight";
  src: url("../assets/font/iransans_fd_light.TTF");
}
@font-face {
  font-family: "iransansMedium";
  src: url("../assets/font/iransans_fd_medium.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "iransans_fd", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background-color: var(--color-primary-dark-background);
}

.screenSizes {
  background-color: #00000022;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 8px;
  margin: 8px;
  color: white;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 4px;
  display: none;
}

.loading {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: var(--color-primary-dark-background);
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loading.close {
  display: none;
}

.sizeMessage {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: var(--color-primary-dark-background);
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.sizeMessage.close {
  display: none;
}
