.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper img {
  display: block;
  position: absolute;
  margin: auto;
  transition: opacity 150ms;
}

.back,
.backHover {
  max-width: 29.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1))
    drop-shadow(1px 2px 7px rgba(255, 255, 255, 0.1));
}
.backHoverBlue {
  filter: drop-shadow(0 0 10px rgba(0, 54, 255, 0.8))
    drop-shadow(0 0 30px rgba(0, 54, 255, 0.4))
    drop-shadow(1px 2px 4px rgba(255, 255, 255, 0.1));
}
.backHoverPink {
  filter: drop-shadow(0 0 10px rgba(255, 0, 153, 0.8))
    drop-shadow(0 0 30px rgba(255, 0, 153, 0.4))
    drop-shadow(1px 2px 4px rgba(255, 255, 255, 0.1));
}
.backHoverYellow {
  filter: drop-shadow(0 0 10px rgba(238, 255, 0, 0.8))
    drop-shadow(0 0 30px rgba(238, 255, 0, 0.4))
    drop-shadow(1px 2px 4px rgba(255, 255, 255, 0.1));
}
.backHoverRed {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8))
    drop-shadow(0 0 30px rgba(255, 0, 0, 0.4))
    drop-shadow(1px 2px 4px rgba(255, 255, 255, 0.1));
}

.icon,
.smallIcon,
.defaultIcon,
.hoverIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
}

.icon {
  width: 80px;
  height: 80px;
  z-index: 1;
}

.smallIcon {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.defaultIcon {
  top: 50%;
  left: 50%;
  position: absolute;
  opacity: 1;
}

.hoverIcon {
  top: 50%;
  left: 50%;
  position: absolute;
  opacity: 0;
}

.back,
.backHover {
  width: 31vw;
  top: 50%;
  left: 50%;
  position: absolute;
  opacity: 0;
}

.back {
  opacity: 1;
}

.container:hover .defaultIcon {
  opacity: 0;
}

.container:hover .hoverIcon {
  opacity: 1;
}

.container:hover .back {
  opacity: 0;
}

.container:hover .backHover {
  opacity: 1;
}

.text {
  font-size: 20px;
  z-index: 1;
  transition: color 150ms;
}

.container:hover .textBlue {
  color: #75c6ff;
}

.container:hover .textPink {
  color: #ff85ce;
}

.container:hover .textYellow {
  color: #ffc700;
}

.container:hover .textRed {
  color: #ff0000;
}
