body {
  overflow-x: auto;
}

.container {
  height: 100vh;
  min-height: 712px;
  min-width: 500px;
  background-image: url("/myschool/images/bg-login.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: white;
  position: relative;
}

.logo {
  min-width: 232px;
  max-width: 312px;
  top: calc(160px - 24px);
  position: absolute;
  opacity: 0.03;
}

.content {
  width: calc(320px + 6px);
  display: flex;
  margin-top: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.topImage {
  width: 72px;
  height: 72px;
  padding: 8px;
}

.title {
  font-size: 13px;
  margin: 24px 0 4px 0;
  word-wrap: none;
  word-break: break-all;
}

.phoneNumber {
  margin: 0 6px;
  color: var(--color-primary);
}

.editPhoneNumber {
  font-size: 10px;
  align-self: flex-end;
  cursor: pointer;
  z-index: 1;
  color: #a6a6a6;
}
.editPhoneNumber:hover {
  color: var(--color-primary);
}

.verificationInput {
  margin-top: 80px;
}

.button {
  width: 118px;
  height: 44px;
  margin-top: 32px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(117, 198, 255, 0.07) 0%,
    rgba(0, 54, 255, 0.07) 100%
  );
  background-color: transparent;
  position: relative;
  color: white;
  border: none; /* Remove the original border */
  box-shadow: 0px 0px 10px 1px #000000, 1px 0px 4px 0px #ffffff20 inset;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  border-radius: 6px;
  inset: 0; /* This spreads to all sides */
  padding: 1.2px; /* This creates the border width */
  background: linear-gradient(
    to right,
    var(--color-primary-transparent),
    #15265e
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.returnBtn {
  height: 48px;
  border-radius: 8px;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border: none;
}
.returnBtn:hover {
  color: white;
}

@media (max-width: 1440px) {
  .container {
    gap: 0px;
  }

  .logo {
    width: 20vw;
    top: calc(160px + 8px);
  }

  .content {
    margin-top: 1vw;
  }

  .title {
    margin-top: 4px;
    padding: 8px;
    font-size: 12.3px;
  }

  .editPhoneNumber {
    margin-left: 12px;
  }

  .button {
    width: calc(118px - 24px);
    margin-top: 6px;
  }
}
