.container {
  height: 100vh;
  min-height: 713px;
  background-image: url("/myschool/images/bg-login.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  position: relative;
}

.logo {
  width: 21vw;
  top: calc(160px - 24px);
  position: absolute;
  opacity: 0.05;
}

.topImage {
  width: 5vw;
  height: 5vw;
  padding: 8px;
}
.topImage.error {
  width: 8vw;
  height: 8vw;
  margin-bottom: 16px;
}

.title {
  font-weight: 700;
  font-size: 17px;
  margin-top: 8px;
}

.error {
  color: red;
  font-weight: 300;
  font-size: 18px;
}
.errorDescription {
  width: 328px;
  margin-top: 16px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  color: var(--color-text-secondary);
}

.form {
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
}

.inputContainer {
  position: relative;
  width: 100%;
}
.input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px white solid;
  background-color: transparent;
  padding: 24px 32px 12px 32px;
  color: white;
  font-size: 15px;
  z-index: 1;
}
.input:focus {
  outline: none;
}

.nationalCodeTitle,
.birthDateTitle {
  position: absolute;
  margin-right: 8px;
  top: 11px;
  right: 0;
  color: var(--color-input-placeholder);
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.birthDateTitle {
  top: 6px;
}

.input::-webkit-input-placeholder {
  color: var(--color-input-placeholder);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input:-moz-placeholder {
  color: var(--color-input-placeholder);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input::-moz-placeholder {
  color: var(--color-input-placeholder);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input:-ms-input-placeholder {
  color: var(--color-input-placeholder);
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Hide on focus */
.input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.input:focus:-moz-placeholder {
  opacity: 0;
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  position: absolute;
  top: 60%;
  left: 0px;
  transform: translateY(-25%);
  cursor: pointer;
  font-size: 16px;
  z-index: 2;
}

.passIcon {
  /* transform: translateY(-20%); */
}

.subInputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.errorMessage {
  height: 12px;
  margin-right: 8px;
  align-self: flex-start;
  color: var(--color-error);
  font-size: 10px;
  text-align: start;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}

.user {
  margin-top: 16px;
}
.pass {
  margin-top: 8px;
}

.input:focus ~ .userTitle,
.input:focus ~ .passTitle,
.filled {
  opacity: 1;
}

.forgetPass {
  font-size: 10px;
  align-self: flex-end;
  cursor: pointer;
}

.forgetPass:hover {
  color: var(--color-primary);
}

.button {
  width: 118px;
  height: 44px;
  margin-top: 48px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(117, 198, 255, 0.07) 0%,
    rgba(0, 54, 255, 0.07) 100%
  );
  background-color: transparent;
  position: relative;
  color: white;
  border: none; /* Remove the original border */
  box-shadow: 0px 0px 10px 1px #000000, 1px 0px 4px 0px #ffffff20 inset;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  border-radius: 6px;
  inset: 0; /* This spreads to all sides */
  padding: 1.2px; /* This creates the border width */
  background: linear-gradient(
    to right,
    var(--color-primary-transparent),
    #15265e
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
  .container {
    display: none;
  }
}
