.container {
  height: 100vh;
  min-height: 713px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  gap: 16px;
  color: white;
  position: relative;
  background-image: url("/myschool/images/bg-admin.png");
  background-position: -0.2vw -2.8vw;
}

.circle {
  width: 22vw;
  height: 22vw;
  background-image: url("/myschool/images/circle.svg");
  background-position: center;
  position: absolute;
  top: -0.2vw;
  left: 37.9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 70%;
  transition: background-image 150ms;
}
.circle:hover {
  background-image: url("/myschool/images/circle-on.svg");
}

.schoolLogo {
  width: 84%;
  height: 82%;
  border-radius: 100%;
}

.title {
  width: 30vw;
  top: 19.5vw;
  position: absolute;
  font-size: 1.35vw;
  text-align: center;
  padding: 8px 0;
  border-radius: 50px;
  background-color: var(--color-main-title-background);
}

.returnContainer {
  position: absolute;
  left: 4.8vw;
  top: 5.54vw;
}

.boyContainer {
  position: absolute;
  top: calc(35.4vw);
  left: calc(63.09vw);
}

.girlContainer {
  position: absolute;
  top: calc(35.5vw);
  left: calc(28.32vw);
}

@media (max-height: 712px) {
  .boyContainer {
    top: calc(35vw);
    left: calc(62.2vw);
  }

  .girlContainer {
    top: calc(35vw);
    left: calc(27.95vw);
  }
}

@media (max-width: 1500px) {
  .boyContainer {
    top: calc(35vw);
    left: calc(62.2vw);
  }

  .girlContainer {
    top: calc(35vw);
    left: calc(27.7vw);
  }
}

@media (max-width: 1440px) {
  .container {
    display: none;
  }
}
