.container {
  composes: container from "./Admin.module.css";
}

.circle {
  composes: circle from "./Admin.module.css";
}

.schoolLogo {
  composes: schoolLogo from "./Admin.module.css";
}

.hexagon {
  composes: hexagon from "./Admin.module.css";
}

.title {
  composes: title from "./Admin.module.css";
}

.returnContainer {
  left: 0px;
  top: 10px;
  gap: 16px;
}

.boyContainer,
.girlContainer {
  position: absolute;
}

.boyContainer {
  top: calc(35.35vw);
  left: calc(62vw);
}

.girlContainer {
  top: calc(35.2vw);
  left: calc(27.5vw);
}

@media (max-width: 1500px) {
  .boyContainer {
    top: calc(35vw);
    left: calc(61.9vw);
  }

  .girlContainer {
    top: calc(35.1vw);
    left: calc(27.4vw);
  }
}

@media (max-width: 1440px) {
  .container {
    display: none;
  }
}
