.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
}

.image {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.badge {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  z-index: 1;
  position: absolute;
  top: 42px;
  left: 4px;
}

.name {
  font-size: 12px;
}
