.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}

.backWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backWrapper img {
  display: block;
  position: absolute;
  margin: auto;
  transition: opacity 150ms;
}

.back {
  width: 11.5vw;
}
.backHover {
  width: 12vw;
}
.back,
.backHover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.back {
  opacity: 1;
}
.container:hover .back {
  opacity: 0;
}
.container:hover .backHover {
  opacity: 1;
}

.imageWrapper {
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 1;
  position: absolute;
  top: 1.4vw;
}

.badge {
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 20vw;
  border: 0.1vw var(--color-sidebar-background) solid;
  z-index: 1;
  position: absolute;
  top: 4.2vw;
  left: 0.3vw;
}

.text {
  font-size: 0.8vw;
  margin-top: 0.9vw;
  z-index: 1;
}

@media (max-aspect-ratio: 4/3) {
  .container {
    gap: 1.3vw;
  }

  .back {
    width: 14vw;
  }

  .backHover {
    width: 14.5vw;
  }

  .badge {
    width: 0.8vw;
    height: 0.8vw;
  }

  .text {
    font-size: 0.9vw;
    margin-top: 0.3vw;
  }
}
